
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="card-deck">
  <!-- Event One-->
    <div class="card">
      <img class="card-img-top" src="https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SheCodes Indeed</h5>
        <p class="card-text">Women's Coding Competition</p><hr>
        <h6>Event Date: 5<sup>th</sup> September, 2020</h6>
        <h6>Timings: 2:00 PM - 4:00 PM</h6>
        <a routerLink="/register" class="btn btn-primary">More Details</a> &nbsp; &nbsp;
        <a routerLink="/register" class="btn btn-primary">Register</a>
      </div>
    </div>

    <!--Event Two-->
    <div class="card">
      <img class="card-img-top" src="https://images.pexels.com/photos/976866/pexels-photo-976866.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Music Night</h5>
        <p class="card-text">Armaan Malik's Music Concert</p><hr>
        <h6>Event Date: 6<sup>th</sup> September, 2020</h6>
        <h6>Timings: 7:00 PM - 9:00 PM</h6>
        <a routerLink="/register" class="btn btn-primary">More Details</a> &nbsp; &nbsp;
        <a routerLink="/register" class="btn btn-primary">Register</a>
      </div>
    </div>

    <!--Event Three-->
    <div class="card">
      <img class="card-img-top" src="https://images.pexels.com/photos/1157557/pexels-photo-1157557.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">ABC</h5>
        <p class="card-text">ABCDEFGH</p><hr>
        <h6>Event Date: 8<sup>th</sup> September, 2020</h6>
        <h6>Timings: 3:00 PM - 8:00 PM</h6>
        <a routerLink="/regster" class="btn btn-primary" >More Details</a> &nbsp; &nbsp;
        <a routerLink="/register" class="btn btn-primary" >Register</a>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

   